body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
;
    color: #1a1a1a;
    text-align: center;
}

h1 {
    margin-top: 100px;
    font-size: 39px;
}

h2 {
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav {
    background-color: #0f172a;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.logo {
    margin: 0;
}

section {
    padding: 80px 40px;
}

.hero {
    background-color: #e5e7eb;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
}

.about, .services, .contact {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 12px;
    background-color: #0f172a;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1e293b;
}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .hero h1 {
        font-size: 32px;
    }

    section {
        padding: 60px 20px;
    }
}

footer {
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}